main{
    width: 80%;
    margin: auto;
    background-color: red;
}
h1{
    text-align: center;
}
nav{
    line-height: 40px;
    display: flex;
}
li{
    border-style: solid;
    width: calc(100%/3);
    text-align: center;
}
/*
div{
    text-align: center;
}
.box{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.centre{
    background-color: bisque;
    padding: 10px;
    width: calc(100%/2);
}
.colonnedroite{
    width: 300px;
    padding: 10px;
    width: calc(100%/4);
}

.colonnegauche{
    width: 300px;
    padding: 10px;
    background-color: aquamarine;
    width: calc(100%/4);
}
/*